In [1]:
# Core data handling
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Date/time handling
from datetime import datetime

# Display settings
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)

In [2]:
df = pd.read_csv("data/202409_citibike_tripdata_combined.csv")

df.head()

/var/folders/xb/qx49vz8d0930c_62scc8m74w0000gn/T/ipykernel_36459/1166591905.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/202409_citibike_tripdata_combined.csv")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F58AB98A78A80FED,classic_bike,2024-09-06 17:38:01.429,2024-09-06 17:49:21.529,Columbus Ave & W 59 St,6986.07,W 29 St & 9 Ave,6416.06,40.769310,-73.984640,40.750073,-73.998393,member
1,6FC53627176E4527,electric_bike,2024-09-24 01:08:57.722,2024-09-24 01:33:14.766,Columbus Ave & W 59 St,6986.07,Meserole Ave & Manhattan Ave,5666.04,40.769310,-73.984640,40.727086,-73.952991,member
2,59F909611C4B9A41,electric_bike,2024-09-14 22:32:37.247,2024-09-14 22:42:06.814,Division St & Bowery,5311.08,Pearl St & Hanover Square,4993.02,40.714190,-73.996730,40.704718,-74.009260,member
3,0825C91A785D1787,electric_bike,2024-09-08 17:35:46.831,2024-09-08 17:45:38.688,E 2 St & Ave A,5553.1,E 1 St & Bowery,5636.13,40.723077,-73.985836,40.724861,-73.992131,member
4,5E6B3ED5913ACB28,electric_bike,2024-09-14 14:51:04.508,2024-09-14 15:04:13.372,W 22 St & 10 Ave,6306.06,E 1 St & Bowery,5636.13,40.746920,-74.004519,40.724861,-73.992131,member

In [3]:
df.describe()

          start_lat     start_lng       end_lat       end_lng
count  4.997898e+06  4.997898e+06  4.996854e+06  4.996854e+06
mean   4.073756e+01 -7.397161e+01  4.073719e+01 -7.397116e+01
std    4.066818e-02  2.917376e-02  1.123214e-01  1.923293e-01
min    4.063000e+01 -7.404000e+01  0.000000e+00 -7.492000e+01
25%    4.071287e+01 -7.399233e+01  4.071286e+01 -7.399239e+01
50%    4.073588e+01 -7.397950e+01  4.073564e+01 -7.397964e+01
75%    4.076072e+01 -7.395485e+01  4.076066e+01 -7.395485e+01
max    4.089000e+01 -7.384000e+01  4.103000e+01  0.000000e+00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4997898 entries, 0 to 4997897
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 495.7+ MB

In [5]:
df["started_at"] = pd.to_datetime(df["started_at"])
df["ended_at"] = pd.to_datetime(df["ended_at"])

df["ride_duration_min"] = (
    df["ended_at"] - df["started_at"]
).dt.total_seconds() / 60

df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_duration_min
0,F58AB98A78A80FED,classic_bike,2024-09-06 17:38:01.429,2024-09-06 17:49:21.529,Columbus Ave & W 59 St,6986.07,W 29 St & 9 Ave,6416.06,40.769310,-73.984640,40.750073,-73.998393,member,11.335000
1,6FC53627176E4527,electric_bike,2024-09-24 01:08:57.722,2024-09-24 01:33:14.766,Columbus Ave & W 59 St,6986.07,Meserole Ave & Manhattan Ave,5666.04,40.769310,-73.984640,40.727086,-73.952991,member,24.284067
2,59F909611C4B9A41,electric_bike,2024-09-14 22:32:37.247,2024-09-14 22:42:06.814,Division St & Bowery,5311.08,Pearl St & Hanover Square,4993.02,40.714190,-73.996730,40.704718,-74.009260,member,9.492783
3,0825C91A785D1787,electric_bike,2024-09-08 17:35:46.831,2024-09-08 17:45:38.688,E 2 St & Ave A,5553.1,E 1 St & Bowery,5636.13,40.723077,-73.985836,40.724861,-73.992131,member,9.864283
4,5E6B3ED5913ACB28,electric_bike,2024-09-14 14:51:04.508,2024-09-14 15:04:13.372,W 22 St & 10 Ave,6306.06,E 1 St & Bowery,5636.13,40.746920,-74.004519,40.724861,-73.992131,member,13.147733

In [6]:
df[df["start_station_id"] == "Lab - NYC - Monolith"]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_duration_min
1800317,0B604FD5DA3A802C,electric_bike,2024-09-09 18:34:46.806,2024-09-09 19:44:01.071,Lab - NYC - M,Lab - NYC - Monolith,NaN,NaN,40.75418,-73.996466,40.75,-74.0,member,69.23775

In [7]:
df.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name     4460
start_station_id       4460
end_station_name      13835
end_station_id        14439
start_lat                 0
start_lng                 0
end_lat                1044
end_lng                1044
member_casual             0
ride_duration_min         0
dtype: int64

In [8]:
df = df.dropna()

df.isna().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
ride_duration_min     0
dtype: int64

In [9]:
# Round UP to nearest minute
df["ride_minutes_charged"] = np.ceil(df["ride_duration_min"]).astype(int)

def compute_price(row):
    minutes = row["ride_minutes_charged"]
    member_type = row["member_casual"]   # "casual" or "member"
    rideable = str(row["rideable_type"]).lower()

    # Included ride time
    included = 30 if member_type == "casual" else 45

    # Base per-minute rate
    if "electric" in rideable:
        base_rate = 0.38 if member_type == "casual" else 0.25
    else:
        base_rate = 0.0  # classic/docked bikes

    within = min(minutes, included)
    over = max(minutes - included, 0)

    # Pricing logic
    price = base_rate * within + (base_rate + 0.25) * over

    return round(price, 2)

# Apply pricing
df["ride_price"] = df.apply(compute_price, axis=1)


df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_duration_min,ride_minutes_charged,ride_price
0,F58AB98A78A80FED,classic_bike,2024-09-06 17:38:01.429,2024-09-06 17:49:21.529,Columbus Ave & W 59 St,6986.07,W 29 St & 9 Ave,6416.06,40.769310,-73.984640,40.750073,-73.998393,member,11.335000,12,0.00
1,6FC53627176E4527,electric_bike,2024-09-24 01:08:57.722,2024-09-24 01:33:14.766,Columbus Ave & W 59 St,6986.07,Meserole Ave & Manhattan Ave,5666.04,40.769310,-73.984640,40.727086,-73.952991,member,24.284067,25,6.25
2,59F909611C4B9A41,electric_bike,2024-09-14 22:32:37.247,2024-09-14 22:42:06.814,Division St & Bowery,5311.08,Pearl St & Hanover Square,4993.02,40.714190,-73.996730,40.704718,-74.009260,member,9.492783,10,2.50
3,0825C91A785D1787,electric_bike,2024-09-08 17:35:46.831,2024-09-08 17:45:38.688,E 2 St & Ave A,5553.1,E 1 St & Bowery,5636.13,40.723077,-73.985836,40.724861,-73.992131,member,9.864283,10,2.50
4,5E6B3ED5913ACB28,electric_bike,2024-09-14 14:51:04.508,2024-09-14 15:04:13.372,W 22 St & 10 Ave,6306.06,E 1 St & Bowery,5636.13,40.746920,-74.004519,40.724861,-73.992131,member,13.147733,14,3.50

In [10]:
os.makedirs("data", exist_ok=True)

# Save cleaned dataset
df.to_csv("data/202409_citibike_tripdata_cleaned.csv", index=False)

In [12]:
# Create subfolder
output_dir = "data/samples"
os.makedirs(output_dir, exist_ok=True)

# Randomly sample 20,000 rows (reproducible)
df_sample = df.sample(n=20000, random_state=42)

# Save sample
df_sample.to_csv(
    os.path.join(output_dir, "202409_citibike_tripdata_cleaned_sample_20000_random.csv"),
    index=False
)